@inject SignInManager<IdentityUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link link-warning @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index" class="black-anchor">Profile</a></li>
    <li class="nav-item"><a class="nav-link link-warning @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email" class="black-anchor">Email</a></li>
    <li class="nav-item"><a class="nav-link link-warning @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword" class="black-anchor">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link link-warning @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins" class="black-anchor">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link link-warning @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData" class="black-anchor">Personal data</a></li>
</ul>
