@{
    Layout = "_AdminLayout";
}
@model IEnumerable<RailwayTicketSystem.Models.Train>

<div class="container">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            foreach (var items in Model)
                            {
                                <tr>
                                    <td>@items.TrainNo</td>
                                    <td>@items.TrainName</td>
                                    <td>@items.TrainNo</td>
                                    <td>@items.TrainCompartments</td>
                                    <td>@items.TrainName</td>
                                </tr>
                            }
                        }                     
               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>